.upcoming {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 300;
  color: #fff;
  opacity: 0.75;
}

.trackName {
  color: #fff;
  font-size: 3.8rem;
  padding-right: 1rem;
  line-height: 3.8rem;
  font-weight: 800;
  text-transform: uppercase;
}

.raceName {
  color: #fff;
  font-size: 2rem;
  padding-right: 1rem;
  line-height: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0.6;
  padding-top: 0.5rem;
}

.race-details {
  display: flex;
  align-items: center;
}

.race-date {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.date {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.month {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 300;
}

.info {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1.25rem 1.25rem 0 0;
}

.info-title {
  color: #333;
  padding-bottom: 2rem;
  font-weight: 900;
}

.next-race {
  padding: 2rem;
}

@media (min-height: 500px) {
  .next-race {
    position: sticky;
    top: 0;
    z-index: -1;
    padding: 2rem;
  }
}
